* {
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: white;
	background-size: 100%;
	background-attachment: fixed;
	margin: 0px;
}

.mujik {
	display: flex;
}

.flex {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.figure1 {
	display: flex;
	height: 650px;
	width: 550px;
	background-color: #549eff;
	transform: translate(50px, 50px);
	justify-content: center;
	align-items: center;
}

.figure1__content {
	color: white;
}

.figure1__content__mainText-text {
	line-height: 64px;
	font-size: 52px;
	transform: translate(-20px, -40px);
}

.figure1__content__secondaryText-text {
	line-height: 34px;
	font-size: 22px;
	transform: translate(-20px, -30px);
}

.figure1__content__button-btn {
	background-color: #ff9900;
	border: 0px;
	color: white;
	border-radius: 100px;
	font-size: 16px;
	height: 58px;
	width: 240px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s;
	transform: translate(-20px, 20px);
}

.figure1__content__button-btn:hover {
	background-color: #ff2d00;
}

.figure2 {
	display: flex;
	background-color: #549eff;
	width: 100%;
	height: 740px;
	transform: translate(0px, 200px);
}

.figure2__youtube-vid {
	margin: auto;
}

.section1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.heading1 {
	text-align: center;
	margin-top: 350px;
	font-size: 26px;
	margin-bottom: 70px;
}

.secondText {
	font-size: 23px;
	display: flex;
	width: 80%;
	justify-content: center;
	margin: auto;
}

.Line {
	margin-bottom: 70px;
}

.books {
	height: 50%;
}

.flex2 {
	display: flex;
	justify-content: center;
}

.heading2 {
	text-align: center;
	font-size: 26px;
	margin-top: 150px;
}

.price {
	position: relative;
	display: flex;
	justify-content: center;
	margin-right: 50px;
}

.price__img {
	position: relative;
	background-image: url("../img/xxx.png");
	background-position: center;
	width: 556px;
	height: 1600px;
	background-size: contain;
	background-repeat: no-repeat;
}

.price__button-btn {
	position: absolute;
	background-color: #03aaff;
	border: 0px;
	color: white;
	border-radius: 30px;
	font-size: 25px;
	height: 75px;
	width: 280px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s;
	bottom: 0px;
	left: 34%;
	bottom: 110px;
}

.price__button-btn:hover {
	background-color: #ff8800;
}

.heading3 {
	text-align: center;
	font-size: 28px;
}

/* ol:before {
	list-style: none;
	content: "• ";
} */

.list {
	font-size: 18px;
	display: flex;
	width: 80%;
	justify-content: center;
	margin-left: 160px;
}

.section2 {
	margin-top: -150px;
}

.figure3 {
	display: flex;
	background-color: #03aaff;
	width: 100%;
	height: 894px;
	transform: translate(0px, 200px);
	justify-content: center;
}

.figure3__heading4-text {
	text-align: center;
	font-size: 24px;
	color: white;
	margin-top: 25px;
}

.figure3__books2-img {
	height: 75%;
}

.heading5 {
	text-align: center;
	font-size: 40px;
	margin-top: 400px;
}

.mail {
	text-align: center;
	font-size: 24px;
}

.link1 {
	color: #ff5e01;
	text-decoration: none;
}

.icons {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 200px;
}

.vk {
	margin-right: 7px;
	width: 30px;
	height: 30px;
}

.inst {
	width: 30px;
	height: 30px;
}

.figure4 {
	display: flex;
	background-color: #111111;
	width: 100%;
	height: 305px;
	justify-content: center;
	color: #d4d4d4;
	font-size: 10px;
	line-height: 20px;
}

.figure4__links-text {
	margin-right: 50px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: -350px;
}

.figure4__info-text {
	margin-top: 60px;
}

.link2 {
	color: #d4d4d4;
	text-decoration: none;
}

.figure4__email-input {
	color: black;
	padding: 0px;
	border: 0px;
	font-size: 16px;
	height: 45px;
	width: 190px;
	padding-left: 20px;
	margin-top: 70px;
	margin-left: 50px;
	outline: none;
}

.submitButton {
	color: #ffffff;
	border: 0px solid #000000;
	background-color: #111111;
	transform: translate(280px, -35px);
}

.birdButton {
	fill: #ffffff;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
.field {
	font-size: 9px;
	display: none;
	text-align: center;
	margin-top: -38px;
	margin-right: 33px;
}
.field2 {
	margin-left: 17px;
}
.metadata {
	font-size: 16px;
	text-align: start;
}

.figure__icons2-icn {
	display: flex;
	justify-content: center;
	margin-right: 100px;
}

.vk2 {
	fill: #525252;
	margin-right: 5px;
}

.inst2 {
	fill: #525252;
}
